// Styling for the footer

footer {
  color: $light;
  padding: 25px 0;
  text-align: center;
  .copyright {
    @include heading-font;
    font-size: 90%;
    line-height: 40px;
    text-transform: none;
    text-shadow: 0 0 0.4em $dark, 0 0 0.3em $dark, 0 0 0.2em $secondary, 0 0 0.1em $primary;
  }
  ul.quicklinks {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    @include heading-font;
  }
}
