// Styling for the masthead

header.masthead {
  text-align: center;
  color: $primary;
  &.unfixed {
    opacity: 0;
    position: relative;
    bottom: 100%;
  }
  &.fixed {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    .intro-heading {
      color: $secondary;
      padding: 0.2em;
      font-size: 37px;
      font-weight: 700;
      @include intro-font;
      .intro-line-vr, .intro-line-paintball, .intro-line-speedball {
        color: $primary;
      }
    }
  }
}
@media(min-width:768px) {
  header.masthead {
    .intro-text {
      padding-top: 250px;
      padding-bottom: 250px;
      .intro-heading {
        font-size: 55px;
        font-weight: 700;
        @include intro-font;
      }
    }
  }
}
