// Styling for the public lobbies section

.public-service-heading {
  margin: 15px 0;
  text-transform: none;
}

.public-service-heading::before {
  color: $secondary;
  font-weight: normal;
  content: 'snap.gs/';
}

.public-service-heading::after {
  color: $secondary;
  font-weight: normal;
  content: '/1';
}

.col-md-4:nth-child(4) .public-service-heading::after,
.col-md-4:nth-child(5) .public-service-heading::after,
.col-md-4:nth-child(6) .public-service-heading::after
{
  content: '/2';
}
